{% extends "Migration/parent/base.html" %}
{% load static %}
{% block title %}mohajer{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">{% endblock %}

{% block content %}
<div style="text-align: right">
    <div class="life-first-child">
        <div class="life-first-child-first">
            <h3>زندگی در خارج</h3>
            <h6 style="color:#f39c12;">کدام مسیر را انتخاب می کنی؟</h6>
            <br>
            <div>
                <ul style="padding-right: 13px">
                    <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">تحصیل در خارج</a></li>
                    <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">کار در خارج</a></li>
                    <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">سرمایه گذاری در خارج</a></li>
                    <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">خرید ملک در خارج</a></li>
                    <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">ثبت شرکت در خارج</a></li>
                    <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">راه اندازی استارتاپ</a></li>

                </ul>
            </div>
        </div>
        <div class="life-first-child-second">
            <h6 style="color:#f39c12; padding-bottom: 20px">زندگی در کشورها</h6>

                    <ul style="padding-right: 13px">
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">کار در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">تحصیل در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">سرمایه گذاری در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">خرید ملک در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">ثبت شرکت در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">راه اندازی استارتاپ</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">کار در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">تحصیل در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">سرمایه گذاری در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">خرید ملک در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">ثبت شرکت در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">راه اندازی استارتاپ</a></li>

                    </ul>
        </div>
<div class="life-first-child-second">
            <h6 style="color:#f39c12; padding-bottom: 20px">هزینه زندگی در کشورها</h6>

                    <ul style="padding-right: 13px">
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">کار در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">تحصیل در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">سرمایه گذاری در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">خرید ملک در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">ثبت شرکت در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">راه اندازی استارتاپ</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">کار در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">تحصیل در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">سرمایه گذاری در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">خرید ملک در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">ثبت شرکت در خارج</a></li>
                        <li class="life-first-ul-li"> <a href="#" class="life-first-ul-li">راه اندازی استارتاپ</a></li>

                    </ul>
        </div>
    <figure class="study-gif"><img decoding="async" src="https://go2tr.co/sources/themes/go2tr/assets/images/listbox/other.gif" alt=""/></figure>

    </div>
    <div>
    <h3>  زندگی درخارج</h3>
        <p>
            بهترین کشور برای زندگی ایرانیان و بهترین روش برای انتخاب کشور مناسب برای زندگی، موضوع اصلی این نوشتار است که جنبه های اساسی آن با رویکردی تخصصی بررسی می شود. ممکن است کشوری برای گروهی از افراد بهترین انتخاب باشد در حالی که همان کشور برای گروهی دیگر بدترین انتخاب ممکن باشد. از این رو آگاهی از تمامی روش ها و بررسی جوانب آن ها برای انتخاب بهترین کشور برای زندگی ایرانیان دارای اهمیت می باشد.</p>
    </div>
</div>
    <section style="margin-top:90px" class="home-consulting consulting-blog">
                <div class="row">
                    <div class="col-12">
                        <div class="g2-call">
                          <div class="g2-call__right">
                              <h2>برای مهاجرت نیاز به مشاوره داری؟</h2>
                              <p>همین حالا فرم درخواست رزرو مشاوره رو پر کن تا برای مهاجرت مشکلی نداشته باشی</p>
                          </div>
                          <div class="g2-call__left">
                              <a href="{% url 'my_site:consulting' %}" class="button_Counseling">درخواست فرم مشاوره</a>
                          </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock %}