{% extends "Migration/parent/base.html" %}
{% load static %}
{% block title %}mohajer{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">{% endblock %}
{% block content %}

<div   style="text-align: right">
<div class="study-first-child">
    <h2 class="work-h2">تحصیل در خارج</h2>
    <p>امروزه مهاجرت به خارج دغدغه بسیاری از جوانان است و از آنجایی که تحصیل در خارج یکی از آسان ترین راه‌ها است متقاضیان در تلاش‌اند هنگام اپلای، بورسیه تحصیلی نیز اخذ کنند تا هزینه‌های زندگی در خارج را به حداقل برسانند. اگر مایل به تحصیل رایگان در کشورهای اروپایی هستید می‌توانید با یادگیری زبان مادری کشورهایی همچون فرانسه، آلمان، نروژ، ایسلند و فنلاند به تحصیل رایگان بپردازید. به عنوان مثال برای ثبت نام در دانشگاه‌های برتر آلمان، شما فقط چیزی حدود ۱۰۰-۳۵۰ یورو (۱۱۹-۴۱۷ دلار آمریکا) پرداخت می‌کنید که این مبلغ تقریباً در تمام برنامه‌های تحصیلی در دانشگاه‌های دولتی آلمان صدق می‌کند. یا حتی در صورت تحصیل در دانشگاه های برتر یونان، شهریه‌ای حدود ۴۵۰۰ الی ۸۵۰۰ دلار را پرداخت خواهید کرد اما در عوض مدرک شما مورد تائید اروپا خواهد بود.</p>
</div>
        <div class="work-countries">
            <h3>تحصیل در کدام کشورها بهتر است؟</h3>
            <a href="#" class="button_about">اسپانیا</a>
            <a href="#" class="button_about">کانادا</a>
            <a href="#" class="button_about">روسیه</a>
            <a href="#" class="button_about">آلمان</a>
            <a href="#" class="button_about">ایتالیا</a>
            <a href="#" class="button_about">فرانسه</a>
            <a href="#" class="button_about">ترکیه</a>
            <a href="#" class="button_about">آمریکا</a>
            <a href="#" class="button_about">قزاقستان</a>
            <a href="#" class="button_about">انگلیس</a>

        </div>
    <div id="ul-nav">
        <ul>
<li class="study-ul"><a href="#" class="study-ul">سرمایه گذاری در نیوبرانزویک کانادا</a></li>
<li class="study-ul"><a href="#" class="study-ul">ثبت شرکت در آفریقای جنوبی</a></li>
<li class="study-ul"><a href="#" class="study-ul">هزینه زندگی در ارمنستان</a></li>
<li class="study-ul"><a href="#" class="study-ul">هزینه مهاجرت به ایتالیا</a></li>
<li class="study-ul"><a href="#" class="study-ul">ویزای دیجیتال نومد پرتغال</a></li>
<li class="study-ul"><a href="#" class="study-ul">روش‌ های یادگیری زبان چینی</a></li>
<li class="study-ul"><a href="#" class="study-ul">ارزش پاسپورت اوکراین</a></li>
<li class="study-ul"><a href="#" class="study-ul">ساسکاچوان:امتیاز بیشتر برای دو زبانه ها</a></li>
<li class="study-ul"><a href="#" class="study-ul">ترکیه یا ایتالیا؟</a></li>
<li class="study-ul"><a href="#" class="study-ul">مصاحبه کانادا بدون نیاز به دیدار حضوری</a></li>
<li class="study-ul"><a href="#" class="study-ul">اجاره مسکن در فرانسه</a></li>
<li class="study-ul"><a href="#" class="study-ul">قوانین ازدواج در سوئد</a></li>

        </ul>
    </div>

    <label>
    <img src="{% static 'images/study-instagram.jpg' %}" alt="study" id="study-img" >
        <br>
    <a href="https://www.instagram.com/p/CfvkN2pjH1d/" style="color: black;margin-right: 160px">مشاهده پست
        <i style="font-size:23px;color: #38444d" class="fa" >&#xf16d;</i>

    </a>
    </label>
    <div class="study-connect-me">
        <h3>ارتباط با ما</h3>
        <p>جهت اطلاع از روش های مهاجرت به ترکیه و اطلاع از آخرین اخبار مهاجرتی با کارشناسان ما در ارتباط باشید</p>
        <a href="#" class="button_Counseling">درخواست مشاوره</a>

    </div>
<br><br>
        <div>
    <h2 class="work-h2"> مدارس ایرانی در خارج</h2>
    <p>یکی از معضلاتی که بسیاری از خانواده‌های ایرانی با آن دست و پنجه نرم می‌کنند، انتخاب مدرسه‌ی مناسب برای فرزندانشان است. قضیه از جایی پیچیده‌تر می‌شود که گاهی بسیاری از ایرانیان مجبور می‌شوند برای مدت زمان مشخصی در کشوری خارجی اقامت داشته باشند و عملا در این زمان کوتاه امکان هماهنگی با سیستم آموزشی و یادگیری زبان برای دانش‌آموز وجود ندارد. در این موارد بهترین راه، ثبت نام در مدارس ایرانی است که خوشبختانه در بیش‌تر کشورهای دنیا مشغول به فعالیت هستند.</p>
</div>
    <section style="margin-top:90px" class="home-consulting consulting-blog">
                <div class="row">
                    <div class="col-12">
                        <div class="g2-call">
                          <div class="g2-call__right">
                              <h2>برای مهاجرت نیاز به مشاوره داری؟</h2>
                              <p>همین حالا فرم درخواست رزرو مشاوره رو پر کن تا برای مهاجرت مشکلی نداشته باشی</p>
                          </div>
                          <div class="g2-call__left">
                              <a href="{% url 'my_site:consulting' %}" class="button_Counseling">درخواست فرم مشاوره</a>
                          </div>
                        </div>
                    </div>
                </div>
            </section>

    </div>

{% endblock %}