{% extends "Migration/parent/base.html" %}
{% load static %}
{% block title %}mohajer{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vissa.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div style="text-align: right">
        <div style="text-align: right">
            <h1 class="visa-h1">اخذ ویزای کشورها</h1>
            <p class="visa-p">اخذ ویزای کشورها، اخذ یک مجوز رسمی است که اجازه می‌دهد تا شخص به طور قانونی وارد کشور خارجی شود. ویزا معمولا در گذرنامه، مهر می‌شود. انواع مختلفی برای ویزاها وجود دارد که هرکدام در کشور میزبان دارای حقوق و شرایط متفاوتی هستند و مدارکی که برای دریافت آن‌ها باید ارائه کنید، متفاوت است. در این مقاله به توضیح درباره ویزاها می‌پردازیم.</p>
            <h1 class="visa-h1"> ویزا چیست؟</h1>
            <p class="visa-p">ویزا یا روادید، برای ورود قانونی افراد به کشور دیگر است که مدت اقامت و زمان ورود و خروج، توسط سفارت یا کنسولگری و یا اداره مهاجرت، در ویزا مشخص می‌گردد و باعث می‌شود که فرد امکان تخطی از قانون کشور مبدا یا مقصد و انجام کارهای خلاف و مجرمانه یا آسیب‌زننده را نداشته باشد.</p>
            <b style="margin: 20px 15%;display: inline-block">ویزاها در انواع گوناگونی ارائه می‌شوند که شرایط اخذ و مدارک و هزینه‌شان بسته به هدف شما و نظر افسر سفارت متفاوت است.</b>
            <p class="visa-p">ویزاهای سنتی را می‌توان با تمبر در گذرنامه چسباند. اگر ویزاهای شما در گذرنامه شما چسبیده باشد، معمولاً دارای اطلاعاتی بر روی آن است که شامل نام، شماره گذرنامه، محل تولد، دلیل سفر و تاریخ انقضا است. ویزاهایی که با تمبر هستند، معمولاً اطلاعات کمتری در مورد شما ثبت کرده‌اند.</p>
            <div class="visa-div">ویزای برخی کشورها به دلیل عدم وجود سفارت در کشور مبدا، به صورت الکترونیکی هم صادر می شوند؛ مثل، ویزای استرالیا در ایران.</div>
            <p class="visa-p">ویزاها انواع مختلفی دارند. می‌توانند دانشجویی و تحصیلی، کار و کاریابی، سرمایه‌گذاری (مثل ثبت شرکت و خرید ملک)، ازدواج یا تولد و انواع دیگر باشند. در این بخش به معرفی انواع ویزاها خواهیم پرداخت.</p>
        </div>


        <img src="{% static 'images/types-of-visa.jpg' %}" alt="types-of-visa" class="types_of_visa">


                <div class="visa_child">
                    <div>
                        <a href="{% url 'my_site:usa' %}" class="button">ویزای آمریکا</a>
                        <a href="{% url 'my_site:germany' %}" class="button">ویزای آلمان</a>
                        <a href="#" class="button">ویزای اسپانیا</a>
                        <a href="#" class="button">ویزای فرانسه</a>
                        <a href="#" class="button">ویزای کانادا</a>
                        <a href="#" class="button">ویزای انگلیس</a>
                        <a href="#" class="button">ویزای ترکیه</a>
                        <a href="#" class="button">ویزای استرالیا</a>
                        <a href="#" class="button">ویزای روسیه</a>
                        <a href="#" class="button">ویزای چین</a>

                    </div>
                </div>
    </div>
{% endblock %}