{% extends "Migration/parent/base.html" %}
{% load static %}
{% block title %}mohajer{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vissa.css' %}">

{% endblock %}

{% block content %}
<div style="text-align: right;margin-top: 20px">
    <div>
        <h1>ویزای آلمان</h1>
        <p class="visa-usa-p">آلمان یکی از قوی‌ترین اقتصادهای جهان است که نرخ بیکاری بسیار پایینی در حد ۵.۹ درصد دارد. به‌علت شهریه پایین دانشگاه‌های برتر آلمان و یا امکان تحصیل رایگان در آلمان، بسیاری از دانشجویان رویای تحصیل در آلمان را دارند. این کشور همچنین دارای امکانات خوبی جهت سرمایه‌گذاری در آلمان و کار در آلمان است. شهروندان کشورهای خارج از اتحادیه اروپا، برای سفر به آلمان، نیاز به ویزای آلمان دارند. این افراد با داشتن ویزای شینگن مجاز به ورود به‌کل منطقه شینگن با یک سند واحد، به‌نام ویزای شینگن هستند. برای دریافت هر نوع ویزای آلمان، باید تمکن مالی موردنیاز سفارت آلمان را ارائه دهید. در صورت نیاز به کسب اطلاعات بیشتر، کارشناسان ما در موسسه مهاجرتی GO2TR آماده ارائه مشاوره تلفنی رایگان هستند.</p>
    </div>
    <div class="visa-usa-second-div">
    <h4>آنچه در این مقاله خواهید خواند:</h4>
       <br>
        <ul>
            <li><a href="#title1" class="visa-usa-first-ul">انواع ویزای آلمان</a></li>
            <br>
            <li><a  href="#title2" class="visa-usa-first-ul">مدارک مورد نیاز برای درخواست ویزای آلمان</a></li>
            <br>
            <li><a href="#title3" class="visa-usa-first-ul">مراحل درخواست ویزای آلمان</a></li>
            <br>
            <li><a href="#title4" class="visa-usa-first-ul">رفع ریجکتی ویزای آلمان</a></li>

        </ul>
    </div>
    <div>
    <h3 id="title1">انواع ویزای آلمان</h3>
       <br>
        <p>ویزای آلمان به دو دسته کلی ویزای کوتاه مدت آلمان و ویزای بلند مدت آلمان تقسیم می‌شود. بسته به هدف شما از سفر به آلمان و طول مدت اقامتتان، می‌توانید برای هر کدام از انواع مختلف ویزای آلمان اقدام کنید.</p>
       <br>
        <h4>ویزای کوتاه‌مدت آلمان</h4>
        <br>
        <p>ویزای شینگن کوتاه‌مدت آلمان به دارنده آن اجازه می‌دهد حداکثر تا ۹۰ روز طی مدت ۱۸۰ روز در آلمان بماند. اگر برای اهداف زیر سفر می‌کنید، می‌توانید برای دریافت ویزای شینگن آلمان درخواست دهید:</p>
        <br>
        <ul  style="margin: 30px 0">
            <li class="visa-germany-second-ul-li"> ترانزیت فرودگاهی آلمان</li>
            <br>
            <li class="visa-germany-second-ul-li">دیدار با خانواده و دوستان یا برای گردشگری</li>
            <br>
            <li class="visa-germany-second-ul-li">شرکت در جلسات و سایر رویدادهای مرتبط با تجارت</li>
            <br>
            <li class="visa-germany-second-ul-li">درمان پزشکی</li>
            <br>
            <li class="visa-germany-second-ul-li">بازدیدهای رسمی، فرهنگی یا ورزشی</li>

        </ul>

        </p>
    </div>
    <div>
    <h3 id="title2">
        مدارک مورد نیاز برای درخواست ویزای آلمان
    </h3>
        <p class="visa-usa-p">
برای درخواست ویزای آلمان باید مدارک زیر را ارائه دهید:<br>

        </p>
        <div>
            <ul style="margin: 40px 0" >
                <li class="visa-germany-second-ul-li">فرم درخواست ویزای آلمان: متناسب با ویزای درخواستی کوتاه‌مدت یا بلندمدت، فرم مناسب را انتخاب کرده و اطلاعات خود را به‌صورت آنلاین و با دقت وارد کنید، زیرا درصورت عدم انطباق اطلاعات فرم تکمیل‌شده با اسناد ارائه‌شده، ممکن است درخواست شما رد شود. فرم را چاپ کرده و سپس در پایان آن را امضا کنید.</li>
                <br>
                <li class="visa-germany-second-ul-li">گذرنامه معتبر: گذرنامه دارای حداقل ۶ ماه اعتبار و یک صفحه خالی</li>
                <br>
                <li class="visa-germany-second-ul-li"><b>دو قطعه عکس در اندازه ویزای آلمان</b></li>
                <br>
                <li class="visa-germany-second-ul-li">اثبات اقامت در آلمان: مدرکی که نشان می‌دهد مکانی برای اقامت در آلمان دارید. این سند می‌تواند اسناد رزرو هتل، قرارداد اجاره، نامه دعوت از میزبان یا اثبات مالکیت خانه/آپارتمان در آلمان باشد.</li>
                <br>
                <li class="visa-germany-second-ul-li">رزرو بلیت رفت‌وبرگشت یا برنامه سفر: بلیت رزرو شده هواپیما، قطار یا سایر وسایل حمل‌ونقل باید به‌عنوان مدرکی برای اثبات تاریخ ورود و خروج شما از آلمان، ارائه شود.</li>
                </ul>
        </div>

    </div>
    <div>
<h3 id="title3">مراحل درخواست ویزای آلمان</h3>
   <br>
        <p>برای درخواست ویزای آلمان، باید مراحل زیر را دنبال کنید:</p>
        <br>
        <div >
            <ul class="benifit-abroad">
                <li class="visa-germany-second-ul-li">
                    <h5>تکمیل فرم درخواست ویزای آلمان</h5>
                    <p>فرم درخواست را به‌صورت آنلاین و با دقت تکمیل کنید. از فرم تکمیل‌شده، دو بار پرینت بگیرید و امضا کنید.</p>
                </li>
                <br>
                <li class="visa-germany-second-ul-li">
                    <h5>گرفتن وقت سفارت آلمان</h5>
                    <p>از طریق وب‌سایت کارگزاری ویزامتریک آلمان، برای گرفتن وقت سفارت و قرار گرفتن در لیست انتظار، ثبت‌نام کنید.</p>
                </li>
                <br><li class="visa-germany-second-ul-li">
                    <h5>تهیه مدارک موردنیاز</h5>
                    <p>مطمئن شوید که همه مدارک موردنیاز را آماده کرده‌اید.</p>
                </li>
                <br><li class="visa-germany-second-ul-li">
                    <h5>شرکت در مصاحبه</h5>
                    <p>در روز تعیین‌شده وقت سفارت و مصاحبه، به‌موقع در آدرس سفارت آلمان حاضر شوید. به یاد داشته باشید که اگر حتی برای چند دقیقه دیر کنید، احتمالاً آن‌ها قرار ملاقات شما را لغو می‌کنند. اطمینان حاصل کنید که تمام مدارک لازم را به همراه داشته باشید.</p>
                </li>
                <br><li class="visa-germany-second-ul-li">
                    <h5>پرداخت هزینه</h5>
                    <p>هزینه درخواست ویزا، به مبلغ ۸۰ یورو را پرداخت کنید و رسید بگیرید.</p>
                </li>
                <br>
            </ul>
        </div>
        <br>
        <div>
    <h3 id="title4">رفع ریجکتی ویزای آلمان</h3>
        <p class="visa-usa-p">دلایل متعددی برای ریجکت ویزای آلمان وجود دارد که مهم‌ترین آن‌ها عبارتند از:<br></p>
        <div>
            <ul style="margin: 40px 0" >
                <li class="visa-germany-second-ul-li">فرم درخواست ناقص</li>
                <br>
                <li class="visa-germany-second-ul-li">درخواست برای نوع اشتباه ویزا</li>
                <br>
                <li class="visa-germany-second-ul-li">کمبود تمکن مالی</li>
                <br>
                <li class="visa-germany-second-ul-li">پاسپورت و عکس نامعتبر</li>
                <br>
                <li class="visa-germany-second-ul-li">سوابق کیفری</li>
                <br>
                <li class="visa-germany-second-ul-li">نداشتن پوشش صحیح بیمه درمانی</li>
                <br>
                </ul>
        </div>

    </div>

    </div>
<section style="margin-top:90px" class="home-consulting consulting-blog">
                <div class="row">
                    <div class="col-12">
                        <div class="g2-call">
                          <div class="g2-call__right">
                              <h2>برای مهاجرت نیاز به مشاوره داری؟</h2>
                              <p>همین حالا فرم درخواست رزرو مشاوره رو پر کن تا برای مهاجرت مشکلی نداشته باشی</p>
                          </div>
                          <div class="g2-call__left">
                              <a href="{% url 'my_site:consulting' %}" class="button_Counseling">درخواست فرم مشاوره</a>
                          </div>
                        </div>
                    </div>
                </div>
            </section>

</div>
{% endblock %}