{% extends "Migration/parent/base.html" %}
{% load static %}
{% block title %}mohajer{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vissa.css' %}">

{% endblock %}

{% block content %}
<div style="text-align: right;margin-top: 20px">
    <div>
        <h1>ویزای آمریکا</h1>
        <p class="visa-usa-p">با توجه به افزایش آمار مهاجرت به خارج، متقاضیان به‌دنبال کسب اطلاعات دقیق در زمینه ویزای کشورهای مختلف هستند. آمریکا یک مکان بسیار محبوب برای گردشگری و مهاجرت است؛ بااین‌حال، اگر شما مقیم آمریکا نیستید، همچون شهروندان بسیاری دیگر از کشورها برای ورود و سفر به ایالات متحده نیاز به اخذ «ویزای آمریکا» خواهید داشت. رایج‌ترین نوع ویزای آمریکایی، ویزای تحصیلی آمریکا است که دانشجویان و دانش‌آموزان برای تحصیل در آمریکا،‌ این ویزای آمریکا را دریافت می‌کنند. قیمت ویزاهای آمریکا از ۱۸۵ دلار الی ۳۱۵ دلار است.</p>
    </div>
    <div class="visa-usa-second-div">
    <h4>آنچه در این مقاله خواهید خواند:</h4>
       <br>
        <ul>
            <li><a href="#title1" class="visa-usa-first-ul">نگاهی به ویزای آمریکا</a></li>
            <br>
            <li><a  href="#title2" class="visa-usa-first-ul">انواع ویزای آمریکا</a></li>
            <br>
            <li><a href="#title3" class="visa-usa-first-ul">مدارک موردنیاز برای دریافت ویزای آمریکا</a></li>
            <br>
            <li><a href="#title4" class="visa-usa-first-ul">هزینه اخذ ویزای آمریکا</a></li>

        </ul>
    </div>
    <div>
    <h3 id="title1">نگاهی به ویزای آمریکا</h3>
       <br>
        <div>
            <div style="overflow:hidden;">
                <img src="{% static 'images/visa-usa-info1.jpg' %}" alt="" class="visa-usa-img">
                <figure>تعداد ایرانیان دریافت کننده ویزای موقت تحصیلی آمریکا در مقطع دکتری به تفکیک رشته تحصیلی</figure>

                <img src="{% static 'images/visa-usa-info2.jpg' %}" alt="" class="visa-usa-img visa-usa-img2">
                <figure class="visa-usa-fig2">انواع ویزای موقت کاری صادر شده برای ایرانیان در آمریکا</figure>
            </div>
        </div>
        <p class="visa-usa-p">
            ویزای آمریکا تمبری است که در گذرنامه‌ ثبت می‌شود و به این معنا است که واجدشرایط ورود به ایالات متحده هستید. داشتن ویزای آمریکا لزوماً به معنای ورود شما به ایالات متحده نیست؛ زیرا این پروسه به اختیار<b>ویزای آمریکا تمبری است که در گذرنامه‌ ثبت می‌شود و به این معنا است که واجدشرایط ورود به ایالات متحده هستید. داشتن ویزای آمریکا لزوماً به معنای ورود شما به ایالات متحده نیست؛ زیرا این پروسه به اختیار</b>است.<br><br>آمریکا از ویزای شهروندان برخی کشورها چشم‌پوشی می‌کند. برنامه معاف از ویزا اجازه می‌دهند تا شهروندان ۳۹ کشور جهان، به مدت ۹۰ روز، برای اهداف تجاری یا مسافرتی، بدون ویزا از ایالات متحده دیدن کنند. البته ایران شامل این کشورها نمی‌شود. علاوه‌بر این، هرکسی که می‌خواهد برای مدت‌زمان طولانی‌تر به ایالات متحده سفر کند، نیاز به اخذ ویزای آمریکا را دارد.


        </p>
    </div>
    <div>
    <h3 id="title2">
        انواع ویزای آمریکا
    </h3>
        <p class="visa-usa-p">
            ویزاهای مهاجرتی گوناگونی برای افراد مختلف برای ورود به کشور آمریکا و اخذ ویزای آمریکا در نظر گرفته شده‌اند که در ادامه به معرفی تمامی آن‌ها پرداخته‌ایم.

به یاد داشته باشید که علاوه براسناد و مدارک مربوط به ویزای آمریکا، ممکن است شما را برای مصاحبه به سفارت و یا کنسولگری آمریکا دعوت نمایند. برای اطلاع از سوالات مصاحبه سفارت آمریکا، می‌توانید مقاله مربوطه را مطالعه نمایید.
        </p>
    </div>
    <div>
<h3 id="title3">مدارک موردنیاز برای دریافت ویزای آمریکا</h3>
   <br>
        <p>مدارک موردنیاز برای دریافت ویزای آمریکا به شرح زیر است:</p>
        <div class="visa-usa-second-div visa-usa-last-div">
            <ul>
                <li class="visa-usa-last-ul-li">برگه کانفرم «confirmation» وقت مصاحبه همراه با فرم DS-160</li>
                <li class="visa-usa-last-ul-li">عکس شخصی با زمینه سفید، بدون روتوش و از روبه‌رو.</li>
                <li class="visa-usa-last-ul-li">اصل و کپی شناسنامه، کارت ملی</li>
                <li class="visa-usa-last-ul-li">اصل و کپی کارت پایان خدمت</li>
                <li class="visa-usa-last-ul-li">پرینت حساب بانکی که باید به زبان انگلیسی باشد.</li>
                <li class="visa-usa-last-ul-li">سند ازدواج و سند طلاق</li>
                <li class="visa-usa-last-ul-li">اگر شما سابقه کیفری و قانونی دارید می‌بایست رونوشت تائید شده سوابق دادگاه و زندان و یا بازداشت و هر چیزی که مرتبط باسابقه شما باشد را نیز ارائه دهید.</li>
                <li class="visa-usa-last-ul-li">تمامی مدارک پزشکی و آزمایش‌های خود</li>
            </ul>
        </div>
    </div>
<section style="margin-top:90px" class="home-consulting consulting-blog">
                <div class="row">
                    <div class="col-12">
                        <div class="g2-call">
                          <div class="g2-call__right">
                              <h2>برای مهاجرت نیاز به مشاوره داری؟</h2>
                              <p>همین حالا فرم درخواست رزرو مشاوره رو پر کن تا برای مهاجرت مشکلی نداشته باشی</p>
                          </div>
                          <div class="g2-call__left">
                              <a href="{% url 'my_site:consulting' %}" class="button_Counseling">درخواست فرم مشاوره</a>
                          </div>
                        </div>
                    </div>
                </div>
            </section>

</div>
{% endblock %}