{% extends "Migration/parent/base.html" %}
{% load static %}
{% block title %}mohajer{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}
{% block content %}
    <script src="{% static 'javascript/timer_reset_code.js' %}"></script>

    <form method="post">
        {% csrf_token %}
        <p style="color: white;text-align: center"> <b> بازیابی رمز</b></p>
        <p class="p-2">ایمیل</p>
        <i class="fa fa-google google"></i>
        <input {% if email %} value="{{ email | default:'' }}" {% endif %}  type="text" name="email" placeholder= "ایمیل را وارد کنید">

        <br><br><br>
        {#       <a href="{% url 'my_site:Verification_code' %}" >#}
        <input {% if disable_send_code %}disabled {% endif %} type="submit" value="ارسال کد تایید"
               id="Verification_button"  name="send_code">
        {#           </a>#}
        <input type="number" id="Verification_input" name="code" >

        <input type="submit" value="ثبت" name="sub">
{#        {% if js_time %}#}
            <h5 style="color: white" id="timer">00:00</h5>
{#        {% else %}#}

{#        {% endif %}#}
        <br><br>
        <a class="p-6" href="{% url 'my_site:signin' %}">ثبت نام</a>
    </form>
{% endblock %}