{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{%static 'css/footer.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<footer>
    <div class="footer-content">
        <p>&copy; 2022 داداش فوتر زیبا | تمامی حقوق محفوظ است</p>

        <i style="font-size:23px;" class="fa " ><a href="#" id="apple">&#xf179;</a></i>


            <i style="font-size:23px;" class="fa" ><a href="#" id="whatsapp">&#xf232;</a></i>

            <i style="font-size:23px;" class="fa" ><a href="#" id="twitter">&#xf099;</a></i>

        <i style="font-size:23px;" class="fa" ><a href="#" id="youtube">&#xf167;</a></i>

        <i style="font-size:23px;" class="fa" ><a href="#" id="linkedin">&#xf08c;</a></i>


        <i style="font-size:23px;" class="fa" ><a href="#" id="telegram">&#xf2c6;</a></i>


        <i style="font-size:23px;" class="fa" ><a href="#" id="facebook">&#xf09a;</a></i>


        <i style="font-size:23px;" class="fa" ><a href="#" id="instagram">&#xf16d;</a></i>



    </div>
</footer>

</body>
</html>